<!-- formulario_modificar_usuario.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/btn.css') }}">

    <title>Modificar Usuario</title>
</head>
<body>
    <h1>Modificar Usuario</h1>
    <form action="/modificar_usuario/{{ usuario.id }}" method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" value="{{ usuario.nombre }}" required>
        <br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{ usuario.email }}" required>
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Modificar">
    </form>
</body>
</html>
